@import url('https://fonts.googleapis.com/css?family=Lora|Source+Sans+Pro');


/*---HEADER---*/


/* animated background--https://codepen.io/kapz/pen/BwtDn*/

#car-bg {
  
  width:100%;
  height:100vh;
  background:url(../img/images/r8.jpg);
  background-size:150% 150%;
  
  //background-attachment:scroll;
  background-position:bottom;
  animation: animatedBackground 40s linear infinite;
  
  

}

@keyframes animatedBackground {
	0% { background-position: 0 0; }
	50% { background-position: 100% 100%; }
  100% { background-position: 0 0; }
}


header h1 {
  background: black;
  color: whitesmoke;
  font-family: 'Source Sans Pro';
  font-size: 1em;
  margin: 0 auto;
  text-transform: uppercase;
  word-spacing: 2px;
  letter-spacing: 2.5px;
  padding: .4em;
  display: flex;
  justify-content: left;
  }

nav {
  background:black; 
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: .1em;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	font-size: .9em;
    font-family: 'Source Sans Pro';
    letter-spacing: 1.5px;
    padding: .5em;
 	text-decoration: none;
	text-transform: uppercase;
}

/*WELCOME HEADER AND DESCRIPTION */
h2 {
    text-align: center;
    letter-spacing: 1.5px;
    font-size: 2.8em;
    font-family: 'Lora', serif;
    font-weight: bold;
    margin: 400px 0 0 0;
    color: whitesmoke;
    padding: .5em;
}

/* Animation https://codepen.io/thiagoteles/pen/ogoxLw*/
.written{
    position: relative;
    width: 24em;
    margin: 250px auto;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);   
}


.anim-typewriter{
  animation: typewriter 4.2s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.welcome-p {
	font-size: 1.2em;
    color: white;
    font-family: 'Lora', serif;
    letter-spacing: 1.5px;
    line-height: 25px;
    word-spacing: .5px;
	text-align: center;
	margin: -295px auto ;
	max-width:  950px;	
    padding: 1em; 
	
/*ANIMATION ROTATE*/  
transform: rotate(0deg);
}

/*---BOTTOM NAV
.bottom-nav {
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 40px;
  background-color: black ;
}---*/



/*ABOUT ME */
.about{
  background: url(../img/Background/background-web.jpg);
  margin: 0px auto ;
 padding: 5em;
   
}


h3 {
    text-align: Center;
    font-size: 2em;
    color: whitesmoke;
    text-transform: uppercase;
    font-family: 'Source Sans Pro';
    letter-spacing: 4px;
    display: block;
    margin: 0px auto;
    padding: 0;
}


.bio, p {
	font-size: 1.2em;
    color: whitesmoke;
	line-height: 55px;
    font-family: 'Lora', serif;
    letter-spacing: 1px;
    line-height: 28px;
    word-spacing: .8px;
	text-align: left;
	margin: 0px auto ;
	max-width:  100em;	
    padding: .5em;
}


/*RESUME*/

.resume-bg {
	background: url(../img/Background/black_paper/black_paper.png);
	
    padding: 5em;
    margin: 0px auto;
}

h4 {
	font-size: 1.5em;
    color: whitesmoke;
    font-family: 'Lora', serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 25px;
    word-spacing: .8px;
	text-align: left;
	margin: 0px auto ;
	max-width:  100em;	
    padding: 1em;
}


/* Contact Me*/
.contact-bg{
    background: url(../img/Background/background-web.jpg);
    padding: .2em;
}
.contact {
    
    color: black; 
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    text-align:center;
    margin: 25px auto 0 auto;
    padding: 1em;
}

form {
  background: transaprent;
  padding: 0 ;
  width: 50%;
  margin: 450px auto;
  padding: 0px auto;

}

input[type="text"] {
  background: white;
  border: line;
  border-radius: 5px;
  margin: 10px auto 1.5px auto;
  width: 100%;
  padding: .5em;  
         
}

label {
  font-size: 1.5em;
  text-align: left;
  letter-spacing: 3px;
  font-family: 'Lora', serif;
  margin: 0 auto;
}


input[type="submit"] {
  border: none;
  border-radius: 5px;
  padding: 15px;
  letter-spacing: 1.5px;

  background: #78657F;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  display: block;
  margin: 20px auto; 
   
}

input:hover {
    background-color: lightblue;
    padding: 1.5em;
    transition: .2s;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


a:link {
	color: white;
}

a:visited {
	color: mediumpurple;
}

a:hover {
	color: teal;
    font-size: 1em;
    transition: .2s;
}

.welcome-p:hover {
  transform: rotate(360deg);
  font-size: 2em;
color: whitesmoke;
  transition: transform 1s;
}


a:active {
	color:lightcoral;
}

}

