body{
background-image: url(../img/Background/navy_blue/navy_blue.png);
}

.Home-image {
	display: block;
	margin: 100px auto auto 545px;
	width: 20%;
	height: 20%;

}
h1 {
	font-size: 2.5em ;
	text-align: center;
	background-color: teal;
	color: black ;
	display: block;
	padding: auto auto auto auto;
	margin: 50px auto -50px auto;
	width: 1365px;

}
.about{
	font-size: 1em;
	text-align: center;
	display: block;
	padding: 10px 10px 85px 550px;
	margin: -325px 525px auto 510px;
	background: white;
	width: 800px;	
	height: 250px;
}

p 	{
	font-size: 1em;
	text-align: left;
	margin: auto auto auto auto;
	width: 800px;	
	height: 250px;
	
}


.navigation {
	justify-content: center;
	align-items: flex-end;
	Background-color: none;
	
}


a:link {
	color: teal;
}

a:visited {
	color: lightblue;
}

a:hover {
	color: rebeccapurple;
}

a:active {
	color:lightcoral;
}

a:focus {
	color: white;
	background-color: rebeccapurple;
}

